{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
    <li class="active"><a href="{{ path('deelnemers') }}"><span class="badge">{{ users|length }}</span>beheer</a></li>
{% endblock %}
{% block content %}
    <section >
        <table class="table" style="table-layout: fixed">
            <caption>Dit zijn alle deelnemers van het kartcentrum</caption>
            <thead>
            <tr>
                <td>Username</td>
                <td>E-mail</td>
                <td>Voorletters</td>
                <td>Achternaam</td>
                <td>Adres</td>
                <td>Postcode</td>
                <td>Woonplaats</td>
                <td>Telefoon</td>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.voorletters }}
                    </td>
                    <td>
                        {{ user.achternaam }}
                    </td>
                    <td>
                        {{ user.adres }}
                    </td>
                    <td>
                        {{ user.postcode }}
                    </td>
                    <td>
                        {{ user.woonplaats }}
                    </td>
                    <td>
                        {{ user.telefoon }}
                    </td>
                    <td title="bewerk de gegevens van deze deelnemer">


                        <a href="{{ path('updateUser', {'id':user.id}) }}" >
                            <span class="glyphicon glyphicon-pencil" style="color:red"></span>
                        </a>
                    </td>
                    <td title="verwijder deze deelnemer is definitief">
                        <a href="{{ path('deleteUser', {'id':user.id}) }}" >
                            <span class="glyphicon glyphicon-minus" style="color:red"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>

        </table>


    </section>

{% endblock %}
