{% extends 'medewerker.html.twig' %}


{% block content %}
    <div class="col-sm-6 col-form-label">
        <h1>Soort Activiteit Udpdaten</h1>
        {{ form_start(form) }}
        {{ form_row(form.naam) }}
        {{ form_row(form.minLeeftijd) }}
        {{ form_row(form.tijdsduur) }}
        {{ form_row(form.prijs) }}
        {{ form_row(form.beschrijving) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
