{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li class="active"><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
    <li><a href="{{ path('beheer') }}"><span class="badge">{{ activiteiten|length }}</span>beheer</a></li>
    <li><a href="{{ path('soortactiviteitenoverzicht') }}"><span class="badge">{{ soortactiviteiten|length }}</span>Soortactiviteit</a></li>
{% endblock %}
{% block content %}
    <section>
        <div class="text-center m-2">
            <a href="{{ path('nieuwSoortActiviteit') }}" class="btn btn-outline-success">
                Soort Activiteit Toevoegen<span  class="fa fa-plus-circle" ></span>
            </a>
        </div>
        <table class="table" style="table-layout: fixed">
            <caption>Dit zijn alle activiteiten van het kartcentrum</caption>
            <thead>
            <tr>
                <td>Naam</td>
                <td>Min. Leeftijd</td>
                <td>Tijdsduur</td>
                <td>Prijs</td>
                <td>Beschrijving</td>
            </tr>
            </thead>
            <tbody>
            {% for activiteit in soortactiviteiten %}
                <tr>
                    <td>
                        {{ activiteit.naam}}
                    </td>
                    <td>
                        {{ activiteit.minLeeftijd}}
                    </td>
                    <td>
                        {{ activiteit.tijdsduur}}
                    </td>
                    <td>
                        {{ activiteit.prijs}}
                    </td>
                    <td>
                        {{ activiteit.beschrijving}}
                    </td>
                    <td title="deelnemers aan deze activiteit">

                        <a href="{{ path('details', {'id':activiteit.id}) }}" >
                            <span class="glyphicon glyphicon-search" style="color:red"></span>
                        </a>
                        <a href="{{ path('updatesoort', {'id':activiteit.id}) }}" >
                            <span class="glyphicon glyphicon-edit" style="color:red"></span>
                        </a>
                        <a href="{{ path('deletesoort', {'id':activiteit.id}) }}" >
                            <span class="glyphicon glyphicon-trash" style="color:red"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <br />
    </section>

{% endblock %}
